@use "./variables";

@mixin frogEyes() {
  content: "•";
  font-size: 100px;
  color: white;
  position: absolute;
  top: 115px;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #000;
  border: 10px solid #fff;
  border-radius: 50%;
}

@mixin frogBlush() {
  content: "";
  position: absolute;
  top: 100px;
  width: 50px;
  height: 25px;
  border-radius: 50%;
  background: #db8974;
  box-shadow: 0px 0px 10px #db8974;
}

@mixin mainTitle() {
  font-family: variables.$title-font;
  text-shadow: 0px 0px 10px #fff;
}

@mixin mainSubTitle() {
  font-family: variables.$title-font;
  text-shadow: 0px 0px 10px #fff;
}
